/* VARIABLES */
/* DEFAULT STYLES */
html,
body {
  font: 14px/1.2 'Montserrat', sans-serif;
  color: #333;
}
select {
  padding-right: 0.8rem;
  border: none;
  font-weight: 300;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background: url("../img/arrow.svg") 100% 50% no-repeat;
}
hr {
  margin: 1.8rem 0;
}
input[type=search] {
  outline: none;
}
:focus-visible {
  outline: none;
}
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
  border: 5px solid #fafafa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}
::-webkit-scrollbar-thumb:active {
  background: #a7a7a7;
}
::-webkit-scrollbar-track {
  background: #fafafa;
  border: 0 none #fff;
  border-radius: 0;
}
::-webkit-scrollbar-track:hover {
  background: #fafafa;
}
::-webkit-scrollbar-track:active {
  background: #fafafa;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.link {
  text-decoration: none;
  color: #333;
}
.link:hover {
  color: #333;
}
.link-instagram {
  margin-right: 1.5rem;
}
.link-facebook {
  margin-right: 3.4rem;
}
.btn {
  background-color: transparent;
  padding: 0.4rem 1.2rem;
  border: none;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.btn-primary {
  border-radius: 5px;
  color: #fff;
  background-color: #fa1616;
  border: 1px solid transparent;
}
.btn-primary:hover {
  color: #fa1616;
  background-color: transparent;
  border-color: #fa1616;
}
.btn-secondary {
  font-weight: 500;
  color: #fa1616;
  border: 1px solid #fa1616;
  border-radius: 5px;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #fa1616;
}
.btn-xl {
  padding: 1rem 2rem;
  width: 330px;
  max-width: 100%;
  font-size: 18px;
}
.btn-filter {
  padding-left: 1.7rem;
  background: url("../img/filter.svg") 0 50% no-repeat;
}
.btn-login {
  padding-left: 2.6rem;
  font-weight: 300;
  background: url("../img/enter.svg") 0 50% no-repeat;
}
.btn-signup {
  padding-left: 2.6rem;
  margin-right: 0.9rem;
  font-weight: 300;
  background: url("../img/user.svg") 0 50% no-repeat;
}
.btn-menu {
  padding: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: none;
}
.btn-sorting {
  display: none;
  margin-left: auto;
  padding-left: 1.5rem;
  font-weight: 300;
  background: url("../img/sort.svg") 0 50% no-repeat;
}
/* LAYOUT STYLES */
.page-container {
  margin-top: 150px;
  margin-left: 300px;
}
.header {
  position: fixed;
  width: calc(100% - 300px);
  margin-left: 300px;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  padding: 2.1rem 1rem 1rem;
}
.header-top {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.page {
  position: relative;
  padding: 1rem;
  min-height: calc(100vh - 126px);
}
.footer {
  background-color: #f4f4f4;
  margin-left: 300px;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.footer .link {
  margin-left: 2.7rem;
}
.footer .btn-primary {
  margin-left: auto;
}
/* DRAWER STYLES */
.logo {
  margin-bottom: 3.9rem;
}
.auth-block {
  display: flex;
  align-items: center;
  margin-bottom: 1.9rem;
}
.search-input {
  font-weight: 300;
  padding: 0.5rem 1.4rem 0.5rem 2.2rem;
  border: 1px solid #333;
  border-radius: 5px;
  width: 230px;
  max-width: 100%;
  background: url("../img/glass.svg") 2% 50% no-repeat, url("../img/arrow-up.svg") 96% 50% no-repeat;
}
.search-input ::placeholder {
  color: #c8c8c8;
}
.drawer {
  width: 300px;
  left: 0;
  bottom: 0;
  position: fixed;
  top: 0;
  z-index: 1500;
  background-color: #fafafa;
  padding: 1.8rem 1rem 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.drawer-top {
  margin-bottom: 4rem;
}
.drawer--active {
  left: 0 !important;
}
.localisation-block {
  margin-bottom: 2.1rem;
}
.localisation-block .select-city {
  margin-right: 2.5rem;
}
.contacts-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nav {
  list-style: none;
  padding-left: 0;
}
.nav__list {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.nav__link {
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  color: #333;
}
/* MAIN SECTION STYLES */
.doctors-list-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
.doctors-list-section--checked {
  grid-template-columns: 1fr;
}
.doctors-list-section--checked .doctor-card {
  grid-template-columns: 130px 1fr;
}
.doctors-list-section--checked .doctor-card__description {
  margin-bottom: 0;
}
.doctors-list-section--checked .doctor-card__content {
  display: grid;
  grid-template-columns: 1fr 250px;
  column-gap: 2rem;
}
.doctors-list-section--checked .doctor-card__content .btn-secondary {
  max-width: 100%;
}
.doctors-list-section--checked .doctor-card__info {
  order: -1;
  margin-top: 0;
  margin-bottom: 2.2rem;
}
.doctor-card {
  display: grid;
  grid-template-columns: minmax(130px, 245px) 1fr;
  background-color: #e4f9ff;
}
.doctor-card-status {
  display: flex;
  flex-direction: column;
}
.doctor-card-status--mobile {
  display: none;
}
.doctor-card__photo {
  background-position: center;
  background-size: cover;
}
.doctor-card__content {
  flex-grow: 1;
  padding: 1.4rem;
}
.doctor-card__content .btn-secondary {
  max-width: 120px;
}
.doctor-card__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 0.9rem;
}
.doctor-card__speciality {
  font-weight: 500;
  font-size: 14px;
  color: #0fabbc;
  margin-bottom: 1.5rem;
}
.doctor-card__description {
  font-weight: 300;
  margin-bottom: 1.8rem;
}
.doctor-card__info {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 240px;
}
.rating-block {
  color: #fa1616;
  font-size: 1.6rem;
}
.experience-block {
  display: flex;
  align-items: center;
}
.experience-block__digit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #0fabbc;
  font-weight: 500;
  border-radius: 50%;
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-right: 0.4rem;
}
.experience-block__text {
  font-weight: 300;
}
/* HEADER STYLES */
.header-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header-panel__heading {
  font-size: 24px;
  margin-bottom: 0;
  line-height: 1.7;
}
.header-control-panel {
  margin-left: 0.75rem;
  display: flex;
  align-items: center;
}
.header-control-panel .switch-block {
  margin-left: auto;
}
.select-sorting {
  margin-right: 2rem;
  font-weight: 500;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 0;
  list-style: none;
}
.breadcrumb-item a {
  text-decoration: none;
  color: #333;
  font-weight: 300;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.3rem;
  font-weight: 300;
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: 0.2rem;
  color: #6c757d;
  content: var(--bs-breadcrumb-divider, "/");
}
label,
.toggle {
  height: 40px;
  border-radius: 5px;
}
label {
  width: 100%;
  background-color: #fafafa;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.custom-switch {
  width: 100px;
  height: 40px;
}
.toggle {
  position: absolute;
  width: 50%;
  background-color: #fa1616;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.view {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  user-select: none;
}
.grid {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"]:checked + .custom-switch .toggle {
  transform: translateX(100%);
  background-color: #fa1616;
}
[type="checkbox"]:checked + .custom-switch .grid svg rect {
  stroke: #fff;
}
[type="checkbox"]:not(:checked) + .custom-switch .list svg path {
  fill: #fff;
}
/* MEDIA QUERIES */
@media (max-width: 1440px) {
  .footer {
    font-size: 14px;
  }
  .footer .link {
    margin-left: 1rem;
  }
}
@media (max-width: 1366px) {
  .footer :not(.btn) {
    display: none;
  }
  .footer .btn-primary {
    margin: 0 auto;
  }
}
@media (max-width: 1200px) {
  .header-control-panel .btn-sorting {
    display: block;
  }
  .header-control-panel :not(.btn-sorting) {
    display: none;
  }
  .doctors-list-section {
    grid-template-columns: 1fr;
  }
  .doctors-list-section .doctor-card {
    grid-template-columns: 130px 1fr;
  }
  .doctors-list-section .doctor-card__description {
    margin-bottom: 0;
  }
  .doctors-list-section .doctor-card__content {
    display: grid;
    grid-template-columns: 1fr 250px;
    column-gap: 2rem;
  }
  .doctors-list-section .doctor-card__content .btn-secondary {
    max-width: 100%;
  }
  .doctors-list-section .doctor-card__info {
    order: -1;
    margin-top: 0;
    margin-bottom: 2.2rem;
  }
}
@media (max-width: 992px) {
  .btn-menu {
    display: block;
  }
  .header {
    margin-left: 0;
    width: 100%;
  }
  .page-container {
    margin-left: 0;
  }
  .drawer {
    left: -300px;
  }
  .footer {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .doctors-list-section {
    row-gap: 0.9rem;
  }
  .doctors-list-section .doctor-card {
    grid-template-columns: 100px 1fr;
    padding: 1rem;
  }
  .doctors-list-section .doctor-card__photo {
    min-height: 100px;
  }
  .doctors-list-section .doctor-card__name {
    font-size: 14px;
  }
  .doctors-list-section .doctor-card__info {
    order: 0;
    margin-top: 0.8rem;
    margin-bottom: 0;
  }
  .doctors-list-section .doctor-card__content {
    grid-template-columns: 1fr;
    padding: 0 0.8rem;
  }
  .doctors-list-section .doctor-card-status {
    display: none;
  }
  .doctors-list-section .doctor-card-status--mobile {
    display: flex;
    grid-column: 1/3;
    margin-top: 0.8rem;
  }
}
@media (max-width: 576px) {
  .drawer {
    width: 260px;
  }
  .header-panel__heading {
    font-size: 18px;
  }
  .header-top {
    margin-bottom: 1.3rem;
  }
  .page-container {
    margin-top: 122px;
  }
  .btn-signup {
    margin-right: 0;
  }
  .contacts-block .link-phone {
    margin-top: 1.5rem;
  }
}
